.reviews {
    padding: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360)) 0;
    overflow: hidden;
}

.reviews__inner {
    position: relative;
    @media (max-width: 1439px) {
        padding: 0 2rem;
    }
    @media (max-width: 767px) {
        padding: 0 1rem;
    }

    &-wrap {
        display: flex;
    }
    .swiper__nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 11vw;
        height: 58px;
        display: flex;
        gap: 1rem;
        margin-right: 19rem;
    }
    h2 {
        opacity: 0;
        font: var(--title-L);
        font-size: var(--calc--title-L);
        margin-bottom: calc(35px + (75 - 35) * (100vw - 360px) / (1680 - 360));
    }
    .swiper {
        width: 97vw;
        @media (max-width: 1024px) {
            padding-bottom: 5rem;
        }
        @media (max-width: 768px) {
            width: unset;
        }
        @media (max-width: 533px) {
            overflow: visible;
        }
    }
    color: var(--main-primary);
    &_items {
    }
    &_item-title {
        font: var(--title-S);
        font-size: var(--calc-title-S);
        padding-bottom: 2rem;
        padding-top: calc(45px + (65 - 45) * (100vw - 360px) / (1680 - 360));
    }
    p {
        font: var(--body-L);
        padding-bottom: 4rem;
    }
    strong {
        font: var(--body-XL);
        color: var(--accent-primary);
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }
    span {
        font: var(--body-S);
        opacity: 0.6;
        max-width: 61%;
        // width: 100%;
    }
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        max-width: 43.5rem;
        &-img {
            // border-radius: 50%;
        }
    }
    &_item_video {
        // border-radius: 50%;
    }
    .swiper-button-next {
        border-radius: 50%;
        width: 4.4vw;
        height: 4.4vw;
        background-color: var(--accent-primary);
        transition: all 0.5s ease;
    }
    .swiper-button-next:hover {
        background-color: var(--accent-primary-hover);
    }
    .swiper-button-prev:hover {
        background-color: var(--accent-primary-hover);
    }
    .swiper-button-prev:hover::after {
        color: #fff;
    }
    .swiper-button-prev {
        border-radius: 50%;
        width: 4.4vw;
        height: 4.4vw;
        background-color: var(--main-tertiary);
    }
    .swiper-pagination {
        width: 100%;
        bottom: 0;
        display: none;
    }
}
.swiper-button-next::after {
    transition: all 0.5s linear;

    color: #fff;
    font-size: calc(15px + (30 - 15) * (100vw - 400px) / (1680 - 360));
}
.swiper-button-prev::after {
    transition: all 0.5s linear;
    color: var(--accent-primary);
    font-size: calc(15px + (30 - 15) * (100vw - 400px) / (1680 - 360));
}

@media (max-width: 1023px) {
    // padding-bottom: 5rem;
    // .swiper-pagination {
    //     display: block;
    // }
    .reviews .swiper__nav {
        display: none;
    }
    .reviews .swiper-pagination {
        display: block;
    }
}
